dist: precise
sudo: false
language: php

before_script:
- phpenv config-rm xdebug.ini || return 0
- composer install

script:
- src/modules/shopgate/vendor/bin/phpunit

jobs:
  include:
  - stage: Unit Test + Code Style Fixing
    php: 5.3
  - stage: Unit Test + Code Style Fixing
    php: 5.4
  - stage: Unit Test + Code Style Fixing
    php: 5.5
  - stage: Unit Test + Code Style Fixing
    php: 7.0
  - stage: Unit Test + Code Style Fixing
    php: 7.1
  - stage: Unit Test + Code Style Fixing
    php: 5.6
    script:
    - curl -L http://cs.sensiolabs.org/download/php-cs-fixer-v2.phar -o php-cs-fixer
    - chmod a+x php-cs-fixer
    - git checkout $TRAVIS_BRANCH
    - ./php-cs-fixer fix --config=.php-cs.dist --cache-file=.php-cs.cache --diff --dry-run --verbose .
    - rm php-cs-fixer
    - src/shopgate/vendor/bin/phpunit
  - stage: deploy
    php: 5.6
    before_script: skip
    script:
    - if [[ "$TRAVIS_TAG" ]]; then ./release/build_release_package.sh ; fi
    deploy:
      provider: releases
      api_key:
        secure: r3X5kKc/+JbQ8NME+UmIWlhnN4tqz7QBpe72WiH5+PVjznvH9oJkW6OMRr3DY5LBR1H43Jd4PtbBTeHSSyhj7U+vQF7OI+Sazj3KcbHOw6bp/1LNHvXw6eRGmqKwKkmbwbygG5PafkWkq43/JOhAzCfMbkvgsGrC37+CHc26Ojjg0JupZE/5yViV9FT7y/C/nG7EHc/3oMpAyM6EE01lcAqSrriYVRtwJfnh+unCWhI8Z9dO2vXbP2CWDvNDGtg6W2vdkpy3zK4GYQ7gJ2Da/K/JQ11O/cMzJS0mfk7IvsQFCDooh08jI1YeafM3aa7lZPC3Jkq1XsgHrIqHSog/g0lpzu7sETrAKhwg63LIxTlLWwoMcJpHUbi7hkSdiSOPkiGBokzLGc2Q3qP1q7BjPBb7A9+/NuMngG0LRCb3EWw5lbGCQ5ViaZgI1iaPkX6hJ8s/KMNPX3JWpNbtlSehjQVzktQIfc555g96AwOEhbyAROOdetyaCA6zPGb1SwU++zulz+NOXL/iKGr1I+5CX4E4fWmPeM8igbV2Dz4qTUxzRGXUzXsZS8CgHw2wuRmRi4FsnIWiBp98fwO5ZANNTtSZt3z4mhbCt4QIACAas3EdHG2QAopAMPPYnhoXDxHnfmtxEZf4WvfoZbD8EAXeOgB0qMQewI4HuYBXgN+hzoY=
      file: shopgate-oxid-integration.zip
      skip_cleanup: true
      on:
        tags: true

notifications:
  slack:
    rooms:
      secure: kpdOHFarfeHgyoAVorlxdKb1QJ7TypAr67613U3KbdUesOtEbTu+7yrtb/Hcjr5lvujpPm/dWc6AoFxAvIaqNFVYkda2uYuAyYwlCAkf08mwKyZQ/Z8AkoNYZfD4r972rihjSnJIIIXrDViJeOet+1vSNxAEhadJekBrooMchNieqotICHhInqmtD8z3H3QVJA6hD4FLes3MO2QBj9UmKniwN/DIahyxDhAKPkGhvYUVkNWn9jv+qk4QSpT66IdUFwjgkR/3F/dl6sQF4As2glgVml8Icfatw6a1ywS67y0alOG0YtCk4se2Qr1h86zVwOqQ4sKLmfe9mTXv/kNvFJE37zAsb417lgSLB2rka53GI7ockjoGqOARYzfxNLLKZHoIMBQzxlQhzK4pCvF7bYabsty/ju662UEiwwJgi6c2oFa7XtTjTXwkbOBWWm5agt4genOFPgt+Fxze1ESQZdlI2d6uA4omTqEPoQ2+YC0yngNiAL3zZhz5krU/ZwBJkXcq/lRc9kaJLaCCoPJVic2Ve/0B2YzsTHSgnS/4y9eoGuG+hgrWyAtcBIrzvxBaSJJjJ0iojUquC7qx3bjYeQGc/8aNTaCXcKPwb4V4a2LxzANTaj5KAWCI9f/WzARgLRXNtRzdaqO7vd+N2uNtGJzVeOmC1xFB8dIGjArZG6o=
    on_success: change
    on_failure: always
